.background {
    -fx-background-color: red;
}

.container {
    -fx-background-color: blue;
}

.title-container {
    -fx-background-color: #FFB13D;
}

.side-text-container {
    -fx-background-color: #3D60D2;
}

.location-image-container {
    -fx-background-color: #E8E8E8;
}

.description-container {
    -fx-background-color: white;
}

.event-title {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.gray-button {
    -fx-background-radius: 25px; /* Potpuno zaobljen dugme */
    -fx-background-color: #FEFEFE; /* Boja pozadine dugmeta (plava, na primjer) */
    -fx-border-color: transparent; /* Bez okvira */
    -fx-padding: 5px 15px; /* Unutarnji razmak */
    -fx-font-size: 16px; /* Veličina fonta */
    -fx-text-fill: #5f6368; /* Boja teksta */
    -fx-alignment: center-right; /* Poravnanje teksta skroz desno */
    -fx-effect: dropshadow(one-pass-box, rgba(84, 84, 84, 0.3), 30, 0.3, 3, 3);
}

.gray-button:hover {
    -fx-background-color: #dbdbdb;
}

.info-title {
    -fx-font-size: 15px;
    -fx-font-weight: 700;
}

.info-value {
    -fx-font-size: 15px;
}

