.background {
    -fx-background-color: white;
}

.location-image-container {
    -fx-background-color: #E8E8E8;
}

.title-container {
    -fx-background-color: #FFB13D;
}

.event-title {
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent; /* Ako želite providnu pozadinu */
    -fx-border-color: transparent; /* Uklanja okvir */
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Pozadina unutar ScrollPane */
}


.button-custom {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-radius: 40px;
    -fx-background-color: #3875CE;
    -fx-border-radius: 10px;
    -fx-font-weight: 500;
    -fx-effect: dropshadow(one-pass-box, rgba(156, 156, 156, 0.3), 30, 0.3, 3, 3); 
}

.button-custom:hover {
    -fx-background-color: #3765ab;
}